* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "微软雅黑";
}
body {
  height: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
select,
form,
img,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.relative {
  position: relative;
}
.coulmn {
  width: 100%;
  clear: both;
}
.bx {
  width: 950px;
  margin: 0 auto;
}
select {
  width: auto;
  padding: 0 0 0 4%;
  margin: 0;
}
option {
  text-align: center;
}
.fot {
  text-align: center;
  color: #264365;
  position: absolute;
  left: 50%;
  margin-left: -352px;
}
.fot .fot_t {
  width: 600px;
  height: 65px;
  margin: 0 auto;
}
.fot .fot_t span {
  width: 72px;
  height: 39px;
  margin-top: 15px;
  padding-right: 10px;
  float: left;
  box-sizing: content-box;
  border-right: 1px solid #cbcccd;
  background: url(../img/aosheng_logo.png) no-repeat;
}
.fot .fot_t dl {
  float: left;
}
.fot .fot_t dl dd {
  margin-top: 12px;
  border-right: 2px solid #898b92;
  padding: 0 10px;
  float: left;
  font: 14px "微软雅黑";
}
.fot .fot_t dl dd a {
  color: #264365;
}
.fot .fot_t dl dd a:hover {
  color: red;
  text-decoration: underline;
}
.fot .fot_t dl dd:last-child {
  border: 0;
}
.fot .fot_t i {
  float: left;
  font-size: 14px;
  font-family: '微软雅黑';
  margin-left: 9px;
  margin-top: 14px;
}
.fot .fot_t i:nth-of-type(2) {
  margin-left: 63px;
}
.fot p {
  box-sizing: content-box;
  font-size: 14px;
  margin: 0 auto;
}
.fot p span {
  display: block;
}
.red {
  color: #F24854;
}
.fots {
  position: relative;
}
